.topNav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding: 5px 0px 5px 0px;
    height: 50px;
    width: 100%;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
}

.mode {
    display: flex;
    
}

.mode:hover{
    cursor: pointer;
}

.dark{
    margin-top: 20px;
}

.mode>h5 {
    padding: 4px;
}

.searchBar {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    padding: 0px 50px 0px 50px;
}

.searchBar>input{
    padding: 10px;
    width: 30%;
}

.icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
    height: 40px;
    width: 25%;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
   align-items: center;
   border-radius: 8px;
}
.icon>input {
    padding: 10px;
    width: 85%;
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
}

.searchIcon {
    padding: 8px;
}

.filter{
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
    border-radius: 8px;
}
.filter>input {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    padding: 12px;
    
}

.filter>img{
    padding-right: 8px;
}

.drop__filter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
   height: 200px;
   width: 200px;
   box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
   margin-left: 1268px;
   margin-top: 10px;
   border-radius: 8px;
}

.box {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    /* margin-top: -200px; */
}

.progress {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.country {
    box-shadow: 0 4px 12px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 15%;
    border-radius: 5px;
    height: 330px;
    background-color: white;
    margin: 30px;
    display: flex;
    flex-direction: column;
  }

  .country__image {
      flex: 1;
  }

  .country__image>img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
  }

  .country__desc {
      flex: 1;
      padding: 12px;
  }

  .country__desc>p {
      color: black;
      font-weight: 300;
      margin: 10px;
  }